/*-----------------------------------------------------------------------------------

    Template Name: Pandora
    Template URI: http://x7info.com
    Description: This is html5 template
    Author: BootExperts
    Author URI: http://x7info.com
    Version: 1.0

-----------------------------------------------------------------------------------
    
    CSS INDEX
    ===================

	1. Theme Default CSS (body, link color, section etc)
	2.Basic Margin Padding
	3.Header-area
	4.Slider-area
	5.About-area
	6.Fun-fact-area
	7.Service-area
	8.Work-area
	9.Call-to-area
	10.Team-area
	11.Testimonial-area
	12.Price-Area
	13.Blog-Area
		13.1 Blog-details
	14.Callto-Area
	15.Contact-Area
	16 Footer-top-area
	17.Footer-Area
	18.breadcrumb-area
	19.Other-css
	
	
-----------------------------------------------------------------------------------*/

/*----------------------------------------*/
/*  1.  Theme default CSS
/*----------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Raleway:300,400,600,700,800');
html, body {height: 100%;font-family: 'Raleway', sans-serif;}
.floatleft {float:left}
.floatright {float:right}
.alignleft {float:left;margin-right:15px;margin-bottom: 15px}
.alignright {float:right;margin-left:15px;margin-bottom: 15px}
.aligncenter {display:block;margin:0 auto 15px}
a:focus {outline:0px none;text-decoration:none;}
img {max-width:100%;height:auto}
.fix {overflow:hidden}
p {
	color: #777;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
	margin: 0 0 15px;	
}

p:hover {
  color: #FFF;

}



h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px;
  font-family: 'Raleway', sans-serif;
  font-weight:700;
}
a {transition: all 0.3s ease 0s;text-decoration:none;color:#}
a:hover {
  color: #73AE20 ;
  text-decoration: none;
} 
a:active, a:hover {
  outline: 0 none;
}
ul{
list-style: outside none none;
margin: 0;
padding: 0
}
input {
    background: #67a5d1;
    border: 2px solid #73AE20;
    height: 45px;
    box-shadow: none;
    padding-left: 10px;
    font-size: 14px;
    color: #626262;
    width: 100%;
}
select {
    width: 100%;
    background: #67a5d1;
    border: 2px solid #73AE20;
    height: 45px;
    padding-left: 10px;
    box-shadow: none;
    font-size: 14px;
    color: #626262;
}
option {
    background: #fff;
    border: 0px solid #626262;
    padding-left: 10px;
    font-size: 14px;
}
input:focus {
    background: transparent;
}
textarea {
    resize: vertical;
    background: #67a5d1;
    border: 2px solid #73AE20;
    padding: 10px;
    width: 100%;
    font-size: 14px;
}
textarea:focus {
    background: transparent;
    outline: none;
}
::-moz-placeholder {
    color: #444;
    font-size: 13px;
}
.input-group.divcenter.input-group .form-control { padding-left: 0px }

.clear{clear:both}
body {}
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}
::selection {
    background: #fff;
    text-shadow: none;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.height-100vh {
    height: 100vh;
}
.table,
.table-cell {
    display: table;
    height: 100%;
}
.table-cell {
    display: table-cell;
    vertical-align: middle;
}
.relative {
    position: relative
}
/*colored background*/
.default-bg{
	background:#73AE20;
}
.white-bg {
    background: #fff;
}
.gray-bg {
    background: #F1F1F1 ;
}
.bg-dark {
    background-color: #1e2127 ;
}
.bg-dark-gray {
    background-color: #252830 ;
}
/*colored text*/

.white-text {
    color: #fff;
}
.gray-text {
    color: #7a7a7a
}
.dp-gray-text {
    color: #535353
}

i {
    color: #666666;
    transition: all .3s ease 0s;
}
/*----------------------------------
 2.Basic Margin Padding
-----------------------------------*/

.m-0 {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}
.p-0 {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0;
}
/*************************
Margin top
*************************/

.mt-0 {
    margin-top: 0
}
.mt-10 {
    margin-top: 10px
}
.mt-15 {
    margin-top: 15px
}
.mt-20 {
    margin-top: 20px
}
.mt-30 {
    margin-top: 30px
}
.mt-40 {
    margin-top: 40px
}
.mt-50 {
    margin-top: 50px
}
.mt-60 {
    margin-top: 60px
}
.mt-70 {
    margin-top: 70px
}
.mt-80 {
    margin-top: 80px
}
.mt-90 {
    margin-top: 90px
}
.mt-100 {
    margin-top: 100px
}
.mt-110 {
    margin-top: 110px
}
.mt-120 {
    margin-top: 120px
}
.mt-130 {
    margin-top: 130px
}
.mt-140 {
    margin-top: 140px
}
.mt-150 {
    margin-top: 150px
}
/*************************
      Margin right
*************************/

.mr-0 {
    margin-right: 0px
}
.mr-10 {
    margin-right: 10px
}
.mr-15 {
    margin-right: 15px
}
.mr-20 {
    margin-right: 20px
}
.mr-30 {
    margin-right: 30px
}
.mr-40 {
    margin-right: 40px
}
.mr-50 {
    margin-right: 50px
}
.mr-60 {
    margin-right: 60px
}
.mr-70 {
    margin-right: 70px
}
.mr-80 {
    margin-right: 80px
}
.mr-90 {
    margin-right: 90px
}
.mr-100 {
    margin-right: 100px
}
.mr-110 {
    margin-right: 110px
}
.mr-120 {
    margin-right: 120px
}
.mr-130 {
    margin-right: 130px
}
.mr-140 {
    margin-right: 140px
}
.mr-150 {
    margin-right: 150px
}
/*************************
      Margin bottom
*************************/

.mb-0 {
    margin-bottom: 0
}
.mb-10 {
    margin-bottom: 10px
}
.mb-15 {
    margin-bottom: 15px
}
.mb-20 {
    margin-bottom: 20px
}
.mb-30 {
    margin-bottom: 30px
}
.mb-40 {
    margin-bottom: 40px
}
.mb-50 {
    margin-bottom: 50px
}
.mb-60 {
    margin-bottom: 60px
}
.mb-70 {
    margin-bottom: 70px
}
.mb-80 {
    margin-bottom: 80px
}
.mb-90 {
    margin-bottom: 90px
}
.mb-100 {
    margin-bottom: 100px
}
.mb-110 {
    margin-bottom: 110px
}
.mb-120 {
    margin-bottom: 120px
}
.mb-130 {
    margin-bottom: 130px
}
.mb-140 {
    margin-bottom: 140px
}
.mb-150 {
    margin-bottom: 150px
}
/*************************
        Margin left
*************************/

.ml-0 {
    margin-left: 0
}
.ml-10 {
    margin-left: 10px
}
.ml-15 {
    margin-left: 15px
}
.ml-20 {
    margin-left: 20px
}
.ml-30 {
    margin-left: 30px
}
.ml-40 {
    margin-left: 40px
}
.ml-50 {
    margin-left: 50px
}
.ml-60 {
    margin-left: 60px
}
.ml-70 {
    margin-left: 70px
}
.ml-80 {
    margin-left: 80px
}
.ml-90 {
    margin-left: 90px
}
.ml-100 {
    margin-left: 100px
}
.ml-110 {
    margin-left: 110px
}
.ml-120 {
    margin-left: 120px
}
.ml-130 {
    margin-left: 130px
}
.ml-140 {
    margin-left: 140px
}
.ml-150 {
    margin-left: 150px
}
/*************************
        Padding top
*************************/

.pt-0 {
    padding-top: 0
}
.pt-10 {
    padding-top: 10px
}
.pt-15 {
    padding-top: 15px
}
.pt-20 {
    padding-top: 20px
}
.pt-30 {
    padding-top: 30px
}
.pt-40 {
    padding-top: 40px
}
.pt-50 {
    padding-top: 50px
}
.pt-60 {
    padding-top: 60px
}
.pt-70 {
    padding-top: 70px
}
.pt-80 {
    padding-top: 80px
}
.pt-90 {
    padding-top: 90px
}
.pt-100 {
    padding-top: 100px
}
.pt-110 {
    padding-top: 110px
}
.pt-120 {
    padding-top: 120px
}
.pt-130 {
    padding-top: 130px
}
.pt-140 {
    padding-top: 140px
}
.pt-150 {
    padding-top: 150px
}
/*************************
        Padding right
*************************/

.pr-0 {
    padding-right: 0
}
.pr-10 {
    padding-right: 10px
}
.pr-15 {
    padding-right: 15px
}
.pr-20 {
    padding-right: 20px
}
.pr-30 {
    padding-right: 30px
}
.pr-40 {
    padding-right: 40px
}
.pr-50 {
    padding-right: 50px
}
.pr-60 {
    padding-right: 60px
}
.pr-70 {
    padding-right: 70px
}
.pr-80 {
    padding-right: 80px
}
.pr-90 {
    padding-right: 90px
}
.pr-100 {
    padding-right: 100px
}
.pr-110 {
    padding-right: 110px
}
.pr-120 {
    padding-right: 120px
}
.pr-130 {
    padding-right: 130px
}
.pr-140 {
    padding-right: 140px
}
/*************************
        Padding bottom
*************************/

.pb-0 {
    padding-bottom: 0
}
.pb-10 {
    padding-bottom: 10px
}
.pb-15 {
    padding-bottom: 15px
}
.pb-20 {
    padding-bottom: 20px
}
.pb-30 {
    padding-bottom: 30px
}
.pb-40 {
    padding-bottom: 40px
}
.pb-50 {
    padding-bottom: 50px
}
.pb-60 {
    padding-bottom: 60px
}
.pb-70 {
    padding-bottom: 70px
}
.pb-80 {
    padding-bottom: 80px
}
.pb-90 {
    padding-bottom: 90px
}
.pb-100 {
    padding-bottom: 100px
}
.pb-110 {
    padding-bottom: 110px
}
.pb-120 {
    padding-bottom: 120px
}
.pb-130 {
    padding-bottom: 130px
}
.pb-140 {
    padding-bottom: 140px
}
.pb-150 {
    padding-bottom: 150px
}
/*************************
        Padding left
*************************/

.pl-0 {
    padding-left: 0
}
.pl-10 {
    padding-left: 10px
}
.pl-15 {
    padding-left: 15px
}
.pl-20 {
    padding-left: 20px
}
.pl-30 {
    padding-left: 30px
}
.pl-40 {
    padding-left: 40px
}
.pl-50 {
    padding-left: 50px
}
.pl-60 {
    padding-left: 60px
}
.pl-70 {
    padding-left: 70px
}
.pl-80 {
    padding-left: 80px
}
.pl-90 {
    padding-left: 90px
}
.pl-100 {
    padding-left: 100px
}
.pl-110 {
    padding-left: 110px
}
.pl-120 {
    padding-left: 120px
}
.pl-130 {
    padding-left: 130px
}
.pl-140 {
    padding-left: 140px
}
.pl-150 {
    padding-left: 150px
}
/***************************
    Page section padding 
****************************/

.ptb-0 {
    padding: 0
}
.ptb-10 {
    padding: 10px 0
}
.ptb-20 {
    padding: 20px 0
}
.ptb-30 {
    padding: 30px 0
}
.ptb-40 {
    padding: 40px 0
}
.ptb-50 {
    padding: 50px 0
}
.ptb-60 {
    padding: 60px 0
}
.ptb-70 {
    padding: 70px 0
}
.ptb-80 {
    padding: 80px 0
}
.ptb-90 {
    padding: 90px 0
}
.ptb-100 {
    padding: 100px 0
}
.ptb-110 {
    padding: 110px 0
}
.ptb-120 {
    padding: 120px 0
}
.ptb-130 {
    padding: 130px 0
}
.ptb-140 {
    padding: 140px 0
}
.ptb-150 {
    padding: 150px 0
}
.ptb-200 {
    padding: 200px 0 
}

/* bg-img */
.bg-img-1 {
  background: rgba(0, 0, 0, 0) url("img/slider/1.jpg") no-repeat scroll center center / cover ;
  height: 100vh;
}
.bg-img-2 {
  background: rgba(0, 0, 0, 0) url("img/video/1.jpg") no-repeat scroll center center / cover ;
}
.bg-img-3 {
    background: rgba(0, 0, 0, 0) url(img/bg/1.jpg) no-repeat scroll center center / cover;
	background-attachment: fixed;
}
.bg-img-4 {
  background: rgba(0, 0, 0, 0) url("img/bg/2.jpg") no-repeat scroll center center / cover ;
}

.bg-img-5 {
  background: rgba(0, 0, 0, 0) url("img/slider/4.jpg") repeat scroll 0 0 / cover ;
  position: relative;
  text-align: center;
  background-attachment: fixed;
}

.slide-1{
  background: rgba(0, 0, 0, 0) url("img/slider/1.jpg") no-repeat scroll center center / cover ;
  height: 100vh;  
}
.slide-2{
  background: rgba(0, 0, 0, 0) url("img/slider/2.jpg") no-repeat scroll center center / cover ;	
  height: 100vh;  
}
.slide-3{
  background: rgba(0, 0, 0, 0) url("img/slider/3.jpg") no-repeat scroll center center / cover ;	
  height: 100vh;  
}
.slide-4{
  background: rgba(0, 0, 0, 0) url("img/slider/5.jpg") no-repeat scroll center center / cover ;	
  height: 100vh;  
}
.slide-5{
  background: rgba(0, 0, 0, 0) url("img/slider/6.jpg") no-repeat scroll center center / cover ;	
  height: 100vh;  
}

/*---------------------------------------
 3.Header-area
---------------------------------------- */
/*-- Navbar Toggle --*/

.logo a h3{
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
    text-transform: uppercase;
	padding:10px 0;
}
.logo a {
    height: inherit;
}
#main-menu.stick {
    background-color: #fff;
    padding: 10px 0;
    position: fixed;
    top: 0;
    box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.2);	
}
.main-menu li {
  display: inline-block;
  padding-left: 20px;
}

.main-menu li.active a{
	color:#73AE20
}
.main-menu li a {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
	font-family: 'Open Sans', sans-serif;
	display:block;
	padding:10px 0;
}
.main-menu li a:hover{
	color:#73AE20;
} 


.main-menu {
  padding-top: 4px;
}
.stick .main-menu{
  padding-top: 5px;
}
.main-menu.navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
#main-menu {
    left: 0;
    padding: 25px 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s ease 0s;
    z-index: 99;
}
.main-menu.float-right li:first-child {
    padding-left: 0;
}

.main-slider-area {
  padding-top: 100px;
}
.navbar-toggle {
    width: 40px;
    height: 40px;
    background-color: #fff;
    color: #333;
    border-radius: 0;
    padding: 0;
    text-align: center;
    border: none;
    margin: 0;
}
.navbar-toggle i {
    display: block;
    font-size: 26px;
    line-height: 40px;
}
.navbar-toggle i.menu-open {
    display: none;
}
.navbar-toggle.collapsed .menu-open {
    display: block;
}
.navbar-toggle.collapsed .menu-close {
    display: none;
}
.navbar-brand {
    float: left;
    padding: 0;
}
#main-menu.stick .main-menu ul li a{
	color:#333;
}
#main-menu.stick .logo a h3{
	color:#333;
}
#main-menu.stick .main-menu ul li.active a, #main-menu.stick .main-menu ul li a:hover{
	color:#73AE20;
}

.header-home-2  #main-menu.stick .main-menu ul li.active a, .header-home-2 #main-menu.stick .main-menu ul li a:hover, .header-home-2 .main-menu li.active a, .header-home-2 .main-menu li a:hover{
	color:#31AAE1;
}


.header-home-3  #main-menu.stick .main-menu ul li.active a, .header-home-3 #main-menu.stick .main-menu ul li a:hover, .header-home-3 .main-menu li.active a, .header-home-3 .main-menu li a:hover{
	color:#F93D66;
}

.header-home-4  #main-menu.stick .main-menu ul li.active a, .header-home-4 #main-menu.stick .main-menu ul li a:hover, .header-home-4 .main-menu li.active a, .header-home-4 .main-menu li a:hover{
	color:#07AAA5;
}

.header-home-5  #main-menu.stick .main-menu ul li.active a, .header-home-5 #main-menu.stick .main-menu ul li a:hover, .header-home-5 .main-menu li.active a, .header-home-5 .main-menu li a:hover{
	color:#D6B161;
}

.header-home-6  #main-menu.stick .main-menu ul li.active a, .header-home-6 #main-menu.stick .main-menu ul li a:hover, .header-home-6 .main-menu li.active a, .header-home-6 .main-menu li a:hover{
	color:#FF9800;
}


/*----------------------
4.Slider-area
------------------------*/
.slider-area{
	position:relative;
}
.slider-area-4 {
  height: 100vh;
}
.opacity-1::before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  background: #000;
  opacity: .7;
}
.slider-area-3::before {
  background: #000 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
}
.header-text.text-center {
  position: relative;
  z-index: 1;
}
.header-text h2 {
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  font-weight:400;
}
.header-text h3 {
  color: #fff;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 26px;
  margin-top: 20px;
  text-transform: uppercase;
}
.header-text.text-center > h2 span {
  color: #73ae20;
  font-weight: 700;
}
.cd-headline.clip span {
  padding: 0;
}
.view-more > a {
  background-color: transparent;
  border: 2px solid#ddd;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin: 20px 6px 0;
  padding: 9px 27px;
  text-transform: capitalize;
  border-radius: 5px;
}
a.button-hover {
  position: relative;
  transform: perspective(1px) translateZ(0px);
  transition-duration: 0.5s;
  transition-property: color;
  vertical-align: middle;
}
a.button-hover::before {
  background:#fff;
  bottom: 0;
  color: #ffffff;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform: scaleX(0);
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease-out;
  z-index: -1;
}
.view-more > a:hover::before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  color:#333;
}
.view-more > a:hover {
  color: #333;
}

.slider-active .owl-nav div {
  color: #fff;
  font-size: 40px;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
  z-index: 111;
  text-align: center;
  line-height: 40px;
  font-size: 32px;
}
.slider-active .owl-nav div .zmdi.zmdi-chevron-left, .slider-active .owl-nav div .zmdi.zmdi-chevron-right {
  color: #fff;
}

.slider-active .owl-nav div.owl-next {
  left: auto;
  right: 0;
}
.slider-active:hover .owl-nav div.owl-next {
  left: auto;
  right: 60px;
}
.slider-active:hover .owl-nav div {
  left: 60px;
  opacity: 1;
}


.header-text.header-text-2{
    text-align: left;
}
.header-text.header-text-2 h2 span{
	color:#31AAE1;
}

.header-text.header-text-3 h2 span{
	color:#F93D66;
}

.header-text.header-text-4 h2 span{
	color:#07AAA5;
}

.header-text.header-text-5 h2 span{
	color:#D6B161;
}

.header-text.header-text-6 h2 span{
	color:#FF9800;
}


/*----------------------
5.About-area
------------------------*/
.about-text > h1 {
  color: #535353;
  font-size: 36px;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 13px;
  text-transform: uppercase;
}
.section-title h2 {
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}
.section-title h2:before {
  position: absolute;
  width: 90px;
  left: 0;
  right: 0;
  background: #333;
  height: 3px ;
  bottom: -10px;
  content: "";
  text-align: center;
  margin: auto;
}
.section-title{
	margin-bottom:50px;
}
.section-title h2 {
  text-transform: uppercase;
}
.section-title p {
  padding: 0px 200px;
}
.single-about {
  box-shadow: 0 0 3px 0 rgba(130, 121, 121, 0.6);
  padding: 40px 25px;
  transition: all 0.4s ease 0s;
}
.single-about:hover {
  box-shadow: 0 0 3px 0 rgba(130, 121, 121, 0.6);
  background: #3190d3;
}
.single-about:hover .about-icon span{
	color:#fff;
}
.single-about:hover .about-text h3, .single-about:hover .about-text > p{
	color:#fff;
}

.about-icon {
    margin-bottom: 20px;
}
.about-icon span {
    color: #73AE20;
    font-size: 40px;
}
.about-text h3{
	transition:all .3s;
}
.about-text > p {
  margin: 15px 0 0;
}
.about-btn.view-more > a {
  background-color:#73AE20;
  border:2px solid#73AE20;
  color: #ffffff;
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin: 20px 6px 0;
  padding: 9px 27px;
  text-transform: capitalize;
  border-radius: 5px;
}

.about-btn.view-more > a:hover::before {
  transform: scaleX(1);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  color:#333;
}
.about-btn.view-more > a:hover {
  color: #333;
}


.about-area-2 .about-icon span{
	color:#31AAE1;
}
.about-area-2  .about-btn.view-more > a {
  background-color:#31AAE1;
  border:2px solid#31AAE1;	
}

.about-area-2 .single-about:hover{
	background:#31AAE1;
}

.about-area-3 .about-icon span{
	color:#F93D66;
}
.about-area-3  .about-btn.view-more > a {
  background-color:#F93D66;
  border:2px solid#F93D66;	
}

.about-area-3 .single-about:hover{
	background:#F93D66;
}

.about-area-4 .about-icon span{
	color:#07AAA5;
}
.about-area-4  .about-btn.view-more > a {
  background-color:#07AAA5;
  border:2px solid#07AAA5;	
}

.about-area-4 .single-about:hover{
	background:#07AAA5;
}

.about-area-5 .about-icon span{
	color:#D6B161;
}
.about-area-5  .about-btn.view-more > a {
  background-color:#D6B161;
  border:2px solid#D6B161;	
}

.about-area-5 .single-about:hover{
	background:#D6B161;
}
.about-area-6 .about-icon span{
	color:#FF9800;
}
.about-area-6  .about-btn.view-more > a {
  background-color:#FF9800;
  border:2px solid#FF9800;	
}

.about-area-6 .single-about:hover{
	background:#FF9800;
}



/*----------------------
6.Fun-fact-area
------------------------*/
.single-count {
  padding:  100px 0;
}
.single-count h2 {
  color: #fff;
  font-size: 40px;
  margin:  10px 0;
  font-weight:500;
}
.single-count p {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}
.single-count span{
  color: #73AE20;
  font-size: 40px;
}
.fun-fact-2 .single-count span{
    color:#31AAE1;
}

.fun-fact-3 .single-count span{
    color:#F93D66;
}

.fun-fact-4 .single-count span{
    color:#07AAA5;
}
.fun-fact-5 .single-count span{
    color:#D6B161;
}

.fun-fact-6 .single-count span{
    color:#FF9800;
}

/*----------------------
7.Service-area
------------------------*/
.single-service {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 4px;
  box-shadow: 0 0 3px 0 rgba(130, 121, 121, 0.6);
  margin-bottom: 30px;
  padding: 40px 20px;
  transition: all 400ms ease-in-out 0s;
}

.single-service:hover {
  box-shadow: 0 0 3px 0 rgba(130, 121, 121, 0.6);
  background: #67a5d1;
}
.single-service:hover .service-icon span{
	color:#fff;
}
.single-service:hover .service-text > h3, .single-service:hover .service-text > p{
	color:#fff;
}

.service-icon {
    font-size: 40px;
    margin-bottom: 15px;
	transition:all .4s;
}
.service-icon span{
	color:#73AE20;
	transition:all .4s;
}
.service-text > h3 {
    margin-bottom: 15px;
    text-transform: capitalize;
	transition:all .4s;
}
.service-text > p {
    margin-bottom: 0;
	transition:all .4s;
}

.bg-opacity-1{
	position:relative;
}
.bg-opacity-1:before{
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:.6;
	content:"";
}

.service-area-2 .service-icon span{
	color:#31AAE1;
}
.service-area-2 .single-service:hover {
	background:#31AAE1;
}

.service-area-3 .service-icon span{
	color:#F93D66;
}
.service-area-3 .single-service:hover {
	background:#F93D66;
}

.service-area-4 .service-icon span{
	color:#07AAA5;
}
.service-area-4 .single-service:hover {
	background:#07AAA5;
}

.service-area-5 .service-icon span{
	color:#D6B161;
}
.service-area-5 .single-service:hover {
	background:#D6B161;
}


.service-area-6 .service-icon span{
	color:#FF9800;
}
.service-area-6 .single-service:hover {
	background:#FF9800;
}


/*----------------------
8.Work-area
------------------------*/
.single-portfolio{
	position:relative;
	overflow:hidden;
}
.portfolio-menu span {
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 15px;
  padding: 5px 12px;
  position: relative;
  text-transform: uppercase;
  color: #333;
  transition:all .4s;
  background:none;
  cursor:pointer;
  position:relative;
}
.portfolio-menu span:before {
    color: #73AE20;
    position: absolute;
    width:0%;
    height: 3px;
    background: #000;
    content: "";
    bottom: -8px;
    left: 0;
    right: 0;
    margin: auto;
	background:#73AE20;
	transition:all .4s;
}
.portfolio-menu span:hover:before{
	width:50%;
}
.portfolio-menu span.active:before{
	width:50%;
}

.portfolio-menu span:hover{
	color:#73AE20;
}
.portfolio-menu span.active{
	color:#73AE20;
}


.portfolio-left-menu button:first-child {
  margin-left: 0;
}

.portfolio-img img{
	transform:scale(1.1);
	transition:all .4s;
}
.single-portfolio:hover .portfolio-img img{
	transform:scale(1);
}

.portfolio-img:before {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  content: "";
  background: #000;
  opacity: 0;
  visibility:hidden;
  transition:all .4s;
  z-index:1;
}
.single-portfolio:hover .portfolio-img:before{
	opacity:.7;
	visibility:visible;
}
.portfolio-text > span {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-style:italic;
}
.portfolio-text h4 a {
    color: #ffffff;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
}
.portfolio-text h4 a:hover {
  color: #e5e5e5;
}

.portfolio-text {
    position: absolute;
    left: 0;
    bottom:0%;
    text-align: center;
    right: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .4s;
    z-index: 2;
    background: #67a5d1;
    padding: 30px 0;
    width: 80%;
    margin: auto;
    text-align: center;
}

.single-portfolio:hover .portfolio-text{
	opacity:1;
	visibility:visible;
	margin-bottom:0;
	bottom:10%;
}
.portfolio-view {
  position: absolute;
  top: 0px;
  right: 15px;
  opacity:0;
  visibility:hidden;
  transition:all .4s;
  margin-bottom:0px;
  z-index:2;
}
.portfolio-view span {
  color: #fff;
  font-size: 24px;
}
.portfolio-view span:hover{
	color:#73AE20;	
} 
.single-portfolio:hover .portfolio-view{
	visibility:visible;
	opacity:1;
	margin-top:10px;
}

.portfolio-area-2 .portfolio-menu span:before{
	color:#31AAE1;
	background:#31AAE1;
}
.portfolio-area-2 .portfolio-menu span:hover, .portfolio-area-2 .portfolio-menu span.active, .portfolio-area-2 .portfolio-view span:hover{
	color:#31AAE1;
}

.portfolio-area-2 .portfolio-text{
	background:#31AAE1;
}
.portfolio-area-2 .about-btn.view-more > a {
	background:#31AAE1;
	border:2px solid#31AAE1;	
}


.portfolio-area-3 .portfolio-menu span:before{
	color:#F93D66;
	background:#F93D66;
}
.portfolio-area-3 .portfolio-menu span:hover, .portfolio-area-3 .portfolio-menu span.active, .portfolio-area-3 .portfolio-view span:hover{
	color:#F93D66;
}

.portfolio-area-3 .portfolio-text{
	background:#F93D66;
}
.portfolio-area-3 .about-btn.view-more > a {
	background:#F93D66;
	border:2px solid#F93D66;	
}

.portfolio-area-4 .portfolio-menu span:before{
	color:#07AAA5;
	background:#07AAA5;
}
.portfolio-area-4 .portfolio-menu span:hover, .portfolio-area-4 .portfolio-menu span.active, .portfolio-area-4 .portfolio-view span:hover{
	color:#07AAA5;
}

.portfolio-area-4 .portfolio-text{
	background:#07AAA5;
}
.portfolio-area-4 .about-btn.view-more > a {
	background:#07AAA5;
	border:2px solid#07AAA5;	
}


.portfolio-area-5 .portfolio-menu span:before{
	color:#D6B161;
	background:#D6B161;
}
.portfolio-area-5 .portfolio-menu span:hover, .portfolio-area-5 .portfolio-menu span.active, .portfolio-area-5 .portfolio-view span:hover{
	color:#D6B161;
}

.portfolio-area-5 .portfolio-text{
	background:#D6B161;
}
.portfolio-area-5 .about-btn.view-more > a {
	background:#D6B161;
	border:2px solid#D6B161;	
}


.portfolio-area-6 .portfolio-menu span:before{
	color:#FF9800;
	background:#FF9800;
}
.portfolio-area-6 .portfolio-menu span:hover, .portfolio-area-6 .portfolio-menu span.active, .portfolio-area-6 .portfolio-view span:hover{
	color:#FF9800;
}

.portfolio-area-6 .portfolio-text{
	background:#FF9800;
}
.portfolio-area-6 .about-btn.view-more > a {
	background:#FF9800;
	border:2px solid#FF9800;	
}



/*----------------------
9.Call-to-area
------------------------*/
.colto-wrap{}
.colto-wrap h2{
	color:#fff;
	text-transform:uppercase;
	margin-bottom:20px;
}
.colto-wrap p{
	color:#fff;
	margin-bottom:0;
}
a.coll-btn {
  border: 1px solid #fff;
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  margin-top: 25px;
  padding: 7px 30px;
  text-transform: capitalize;
  transition:all .3s;
}
a.coll-btn:hover{
	background:#73AE20;
    border: 1px solid #73AE20;	
}
/*----------------------
10.Team-area
------------------------*/
.single-team{
	position:relative;
	overflow:hidden;
}
.team-img {
	transition:all .3s;
}
.team-img > a {
  display: block;
  position: relative;
  transition: all 0.4s ease 0s;
}
.team-img > a::before {
	background: #000;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
	transition:all .4s;
	z-index:1;
}
.single-team:hover .team-img > a::before {
	opacity:.7;
}

.team-hover {
  position: absolute;
  top: 45%;
  text-align: center;
  left: 0;
  right: 0;
  z-index:2;
  opacity:0;
  visibility:hidden;
  transition:all .4s;
  transform:translateY(-50%);
}
.single-team:hover .team-hover{
	opacity:1;
	visibility:visible;	
}
.team-icon a {
	margin: 0 20px;
}
.team-icon a i {
  color: #fff;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  border-radius: 50%;
  transition:all .4s;  
}
.team-icon a i:hover{
	background:#73AE20;
} 
.single-team:hover .team-icon a{
	margin:  0 5px;
}
.team-text {
  top: 40%;
  left: 0;
  padding: 30px 0;
  position: absolute;
  right: 0;
  text-align: center;
  transition: all 0.4s ease 0s;
  z-index: 2;
  opacity:0;
  visibility:hidden;

}
.single-team:hover .team-text{
	opacity:1;
	visibility:visible;
	transition:all .4s;
	text-align:center;
	top:50%;
}
.team-text > h4 {
  margin-bottom: 3px;
  text-transform: uppercase;
  color:#fff;
}
.team-text > span {
  text-transform: capitalize;
  color:#fff;
}
.team-carousel-2 .team-icon a i:hover{
	background:#31AAE1;
}

.team-carousel-3 .team-icon a i:hover{
	background:#F93D66;
}

.team-carousel-4 .team-icon a i:hover{
	background:#07AAA5;
}

.team-carousel-5 .team-icon a i:hover{
	background:#D6B161;
}

.team-carousel-6 .team-icon a i:hover{
	background:#FF9800;
}


/*------------------------
11.Testimonial-area
--------------------------*/
.testimonial-area{
	position:relative;
}
.testimonial-area .section-title {
  margin-bottom: 10px;
}
.client-text span {
    color: #73AE20;
    font-size: 35px;
    margin-bottom: 25px;
    font-weight: 600;
	color:
}
.client-text > p {
    font-size: 16px;
    margin: 0px 190px 20px;
    color: #ccc;
    line-height: 29px;
}
.section-title.white-text > h3::before {
  background: #fff none repeat scroll 0 0;
}
.client-text > h3 {
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
	font-size:18px;
}
.client-text > h4 {
    color: #73AE20;
}
.testimonial-area .owl-carousel .owl-dot.active {
  background: #73AE20 none repeat scroll 0 0;
  height: 14px;
  width: 14px;
}
.testimonial-area .owl-carousel .owl-dot {
    background: #fff none repeat scroll 0 0;
    display: inline-block;
    height: 10px;
    margin: 0 3px;
    width: 10px;
}
.testimonial-area .owl-carousel .owl-dots {
    text-align: center;
	margin-top:20px;
}

.testimonial-area-2 .client-text span {
	color:#31AAE1;	
}

.testimonial-area-2 .client-text > h4{
	color:#31AAE1;	
}
.testimonial-area-2.testimonial-area  .owl-carousel .owl-dot.active {
	background:#31AAE1;	
}


.testimonial-area-3 .client-text span {
	color:#F93D66;	
}
.testimonial-area-3 .client-text > h4{
	color:#F93D66;	
}
.testimonial-area-3.testimonial-area  .owl-carousel .owl-dot.active {
	background:#F93D66;	
}

.testimonial-area-4 .client-text span {
	color:#07AAA5;	
}
.testimonial-area-4 .client-text > h4{
	color:#07AAA5;	
}
.testimonial-area-4.testimonial-area  .owl-carousel .owl-dot.active {
	background:#07AAA5;	
}

.testimonial-area-5 .client-text span {
	color:#D6B161;	
}
.testimonial-area-5 .client-text > h4{
	color:#D6B161;	
}
.testimonial-area-5.testimonial-area  .owl-carousel .owl-dot.active {
	background:#D6B161;	
}
.testimonial-area-6 .client-text span {
	color:#FF9800;	
}
.testimonial-area-6 .client-text > h4{
	color:#FF9800;	
}
.testimonial-area-6.testimonial-area  .owl-carousel .owl-dot.active {
	background:#FF9800;	
}

/*------------------------
12.Price-Area
--------------------------*/
.single-price {
  background-color: #ffffff;
  padding: 0 0 60px;
  text-align: center;
  transition: all 0.3s ease 0s;
}
.single-price:hover { 
  box-shadow: 0px 0px 70px rgba(29, 24, 24, 0.09);
}
.price-title > h4 {
    color: #333;
    font-size: 30px;
    font-weight: 700;
    padding: 35px 0;
    position: relative;
    text-transform: uppercase;
    transition: all 0.3s ease 0s;
    margin-bottom: 0;
}
.pricing-dollar span.text-large {
  font-size: 50px;
  font-weight: 600;
}
.price-list li {
  border-bottom: 1px solid #eaeaea;
  color: #262626;
  font-size: 16px;
  font-weight: 500;
  line-height: 49px;
  text-transform: capitalize;
}
.price-list li:last-child {
  border: 0 none;
}
.price-btn {
  margin-top: 20px;
}
.pricing-dollar {
	padding:20px 0;
	background:#333;
	transition:all .4s;
}
.single-price:hover .pricing-dollar{
    background: #67a5d1;	
}
.pricing-dollar span{
	color:#fff;
	font-size:20px;
}
.pricing-dollar.active{
    background: #67a5d1;	
} 

.price-btn button {
  background-color: #333;
  border: 1px solid #333;
  color: #fff;
  display: inline-block;
  font-size: 15px;
  font-weight: normal;
  padding: 11px 27px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}
.price-btn button:hover{
	background:#333;
	color:#fff;
    border: 1px solid #fff;	
}
.single-price:hover .price-btn button{
	background:#73AE20;
	color:#fff;
    border: 1px solid #fff;	
}
.price-dollar {
  font-size: 20px;
  font-weight: 700;
  margin-right: 5px;
  position: relative;
  top: -18px;
}
.single-price.active {
  box-shadow: 0px 0px 70px rgba(29, 24, 24, 0.09);
    
}

.single-price.active .price-btn button{
	background:#73AE20;
	color:#fff;
    border: 1px solid #fff;	
}

.pricing-area-2 .single-price:hover .pricing-dollar, .pricing-area-2 .pricing-dollar.active, .pricing-area-2 .single-price:hover .price-btn button, .pricing-area-2  .single-price:hover .price-btn button{
	background:#31AAE1;
}

.pricing-area-2  .about-btn.view-more > a {
	background:#31AAE1;
	border:2px solid#31AAE1;	
}


.pricing-area-3 .single-price:hover .pricing-dollar, .pricing-area-3 .pricing-dollar.active, .pricing-area-3 .single-price:hover .price-btn button, .pricing-area-3  .single-price:hover .price-btn button{
	background:#F93D66;
}

.pricing-area-3  .about-btn.view-more > a {
	background:#F93D66;
	border:2px solid#F93D66;	
}

.pricing-area-4 .single-price:hover .pricing-dollar, .pricing-area-4 .pricing-dollar.active, .pricing-area-4 .single-price:hover .price-btn button, .pricing-area-4  .single-price:hover .price-btn button{
	background:#07AAA5;
}

.pricing-area-4  .about-btn.view-more > a {
	background:#07AAA5;
	border:2px solid#07AAA5;	
}

.pricing-area-5 .single-price:hover .pricing-dollar, .pricing-area-5 .pricing-dollar.active, .pricing-area-5 .single-price:hover .price-btn button, .pricing-area-5  .single-price:hover .price-btn button{
	background:#D6B161;
}

.pricing-area-5  .about-btn.view-more > a {
	background:#D6B161;
	border:2px solid#D6B161;	
}

.pricing-area-6 .single-price:hover .pricing-dollar, .pricing-area-6 .pricing-dollar.active, .pricing-area-6 .single-price:hover .price-btn button, .pricing-area-6  .single-price:hover .price-btn button{
	background:#FF9800;
}

.pricing-area-6  .about-btn.view-more > a {
	background:#FF9800;
	border:2px solid#FF9800;	
}


/*------------------------
13.Blog-Area
--------------------------*/
.single-blog{
	transition:all .3s;
	overflow:hidden;
    box-shadow: 0 2px 2px rgba(10, 16, 20, 0.24), 0 0 2px rgba(10, 16, 20, 0.12);	
}
.blog-info {
  padding: 24px 20px;
}

.blog-info h4 a {
    color: #333;
}
.blog-info h4 a:hover{
	color:#73AE20;
}
.blog-date span {
    margin-right: 15px;
}
.blog-date span i {
    margin-right: 9px;
}
.blog-info > p {
    margin-top: 10px;
}
.blog-info > a {
  border: 1px solid #333;
  color: #333;
  display: inline-block;
  font-weight: 600;
  padding: 7px 25px;
  text-transform: capitalize;
}	
.blog-info > a:hover{
    color: #fff;
	background:#73AE20;
    border: 1px solid #73AE20;	
} 
.blog-img{
	overflow:hidden;
}
.blog-img img{
	transition:all .4s;	
}
.single-blog:hover .blog-img {
  filter: grayscale(100%);
}
.single-blog:hover .blog-img img{
  transform:scale(1.1);	
}
.single-blog:hover{
  box-shadow: 0 8px 8px rgba(10, 16, 20, 0.24), 0 0 8px rgba(10, 16, 20, 0.12);
}
.blog-date a {
  color: #333;
}
.blog-date a:hover {
  color: #73AE20;
}
.single-blog.blog-details-img.mb-50 {
  box-shadow: none;
}

.blog-area-2 .blog-info h4 a:hover{
	color:#31AAE1;
}
.blog-area-2 .blog-info > a:hover{
	background:#31AAE1;
    border: 1px solid #31AAE1;		
}
.blog-area-2 .blog-date a:hover{
  color: #31AAE1;	
}

.blog-area-2  .about-btn.view-more > a {
	background:#31AAE1;
	border:2px solid#31AAE1;	
}



.blog-area-3 .blog-info h4 a:hover{
	color:#F93D66;
}
.blog-area-3 .blog-info > a:hover{
	background:#F93D66;
    border: 1px solid #F93D66;		
}
.blog-area-3 .blog-date a:hover{
  color: #F93D66;	
}

.blog-area-3  .about-btn.view-more > a {
	background:#F93D66;
	border:2px solid#F93D66;	
}


.blog-area-4 .blog-info h4 a:hover{
	color:#07AAA5;
}
.blog-area-4 .blog-info > a:hover{
	background:#07AAA5;
    border: 1px solid #07AAA5;		
}
.blog-area-4 .blog-date a:hover{
  color: #07AAA5;	
}

.blog-area-4  .about-btn.view-more > a {
	background:#07AAA5;
	border:2px solid#07AAA5;	
}

.blog-area-5 .blog-info h4 a:hover{
	color:#D6B161;
}
.blog-area-5 .blog-info > a:hover{
	background:#D6B161;
    border: 1px solid #D6B161;		
}
.blog-area-5 .blog-date a:hover{
  color: #D6B161;	
}

.blog-area-5  .about-btn.view-more > a {
	background:#D6B161;
	border:2px solid#D6B161;	
}

.blog-area-6 .blog-info h4 a:hover{
	color:#FF9800;
}
.blog-area-6 .blog-info > a:hover{
	background:#FF9800;
    border: 1px solid #FF9800;		
}
.blog-area-6 .blog-date a:hover{
  color: #FF9800;	
}

.blog-area-6  .about-btn.view-more > a {
	background:#FF9800;
	border:2px solid#FF9800;	
}


/*------------------------
 13.1 Blog-details
-------------------------- */

.blog-page .single-blog {
    margin-bottom: 50px;
}
.blog-img img {
    width: 100%;
}
h3.widget-title {
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 25px;
    padding-bottom: 25px;
    text-transform: capitalize;
}
.blog-search form {
    position: relative;
}
.blog-search form input {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #232323;
    height: 45px;
    width: 100%;
}
.blog-search form button {
  background: #232323 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  font-size: 22px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
}
.blog-search form input::placeholder {
    color: #000000;
    font-family: "Roboto",sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
}
.blog-search form button i {
  color: #ffffff;
}
.single-widget > p {
    font-size: 16px;
}
.widget-posts-img {
    float: left;
    margin: 0 10px 0 0;
}
.widget-posts-info {
    overflow: hidden;
}
.widget-posts-info a.post_title {
    color: #232323;
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
}
.widget-posts-info a.post_title:hover {
    color: #73AE20;
}
.widget-posts li {
    margin-bottom: 30px;
}
.instagram-photo img {
    float: left;
    width: 33.3%;
}
ul.widget-posts li:nth-child(3) {
    margin: 0;
}
.widget-posts-info p {
    margin: 0;
}
.widget-list li a {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: capitalize;
	color:#333;
}
.widget-list li:last-child a {
    margin-bottom: 0;
}
.widget-list li a:hover {
    color: #73AE20;
}
ul.widget-tags li {
    float: left;
}
ul.widget-tags li a {
    border: 1px solid #f1f1f1;
    display: block;
    font-weight: 500;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 9px 15px;
    text-transform: capitalize;
	color:#333;
}
ul.widget-tags li a:hover {
    background: #73AE20 none repeat scroll 0 0;
    color: #ffffff;
    border: 1px solid #73AE20;	
}
.blog-right-sidebar {
    margin-bottom: 30px;
    overflow: hidden;
}
.blog-text.blog-details-post {
  margin-top: 12px;
  padding: 0;
}
.blog-details-img .blog-info {
  padding: 0;
}
.blog-meta {
  margin-top: 20px;
}

.blog-meta {
    margin-top: 20px;
}
.blog-meta a {
    color: #333333;
}
.blog-meta a:hover {
    color: #73AE20;
}
.media-left img {
  min-width: 100px;
}
.blog-details-page h3 {
    font-size: 24px;
    font-weight: 600;
}
.blog-details-post blockquote {
    border-left: medium none;
    font-size: 14px;
    font-style: italic;
    margin: 20px 30px;
    padding: 0;
}
.quote-post p {
    position: relative;
}
.quote-post p::after {
    color: #232323;
    content: "";
    font-family: "FontAwesome";
    font-size: 24px;
    padding-left: 10px;
}
.quote-post p::before {
    color: #232323;
    content: "";
    font-family: "FontAwesome";
    font-size: 24px;
    padding-right: 10px;
}
.comment-title {
    font-family: "Roboto",sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 40px;
    padding-bottom: 5px;
    text-transform: capitalize;
}
h4.comment-title {
    background: #cdcdcd none repeat scroll 0 0;
    color: #232323;
    padding: 5px 10px;
}
.media-list li {
    background: #ffffff none repeat scroll 0 0;
    margin-bottom: 20px;
    position: relative;
    transition: all 0.3s ease 0s;
}
.theme-comment-section .media {
    padding: 25px 0;
}
.theme-comment-section .media-body {
    margin-top: 0;
    padding-left: 20px;
    padding-right: 0;
}
.media-list .media {
    border-bottom: 1px solid #cdcdcd;
}
.media-body > h3 {
  font-size: 18px;
  margin-bottom: 0;
}
.media-body > h3 a{
	color:#333;
}
.media-body > h3 a:hover{
	color:#73AE20;
}
.media-body > span {
  display: block;
  font-size: 14px;
  font-style: italic;
  margin-bottom: 10px;
}
a.reply-link {
  color: #333333;
  font-weight: 500;
  position: absolute;
  right: 0;
  top: 15px;
}
a.reply-link:hover {
    color: #73AE20;
}
.media-replay {
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 20px;
}
.media-list .media-replay .media {
    border: medium none;
    margin-left: 100px;
}
.comment-form-wrapper {
    margin-top: 40px;
}
.leave-comment-text {
    margin-bottom: 25px;
    text-transform: capitalize;
}
.leave-form input {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #cdcdcd;
    height: 35px;
    margin-bottom: 30px;
}
.text-leave textarea {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #cdcdcd;
    height: 225px;
}
.text-leave button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: 1px solid #cdcdcd;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
  padding: 7px 15px;
  text-transform: capitalize;
  transition: all 0.3s ease 0s;
}
.text-leave button:hover {
    background: #73AE20 none repeat scroll 0 0;
    border: 1px solid #73AE20;
    color: #ffffff;
}
.widget-posts-img > img {
  width: 110px;
}


/*------------------------
14.Callto-Area
--------------------------*/
.callto-action > h2 {
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 6px;
}
.callto-btn a {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: #000000;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 0 5px;
  padding: 12px 18px;
  text-transform: capitalize;
}
.callto-btn a:hover{
	background:#73AE20;
	color:#fff;
} 

.collto-action-2  .callto-btn a:hover, .collto-action-2{
	background:#31AAE1;
}
.collto-action-3  .callto-btn a:hover, .collto-action-3{
	background:#F93D66;
}

.collto-action-4  .callto-btn a:hover, .collto-action-4{
	background:#07AAA5;
}
.collto-action-5  .callto-btn a:hover, .collto-action-5{
	background:#D6B161;
}
.collto-action-6  .callto-btn a:hover, .collto-action-6{
	background:#FF9800;
}

/*------------------------
  15.Contact-Area
--------------------------*/
.contact-title h3{
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;
  text-transform: capitalize;
}
.single-contact {
  margin-top: 30px;
}
.single-icon{
	margin-bottom:50px;
}
.single-icon i {
  font-size: 27px;
  border: 1px solid #333;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 47px;
}
.single-icon > p {
  margin-top: 15px;
}
.details-contact li i {
    float: left;
    font-size: 20px;
	width: 50px;	
}
.details-contact li {
    overflow: hidden;
	margin-bottom:10px;
}
.contact-sochil-icon {
    margin-top: 35px;
}
.contact-sochil-icon  a {
    border: 1px solid #333;
    display: block;
    font-size: 20px;
    height: 40px;
    line-height: 39px;
    margin-right: 8px;
    text-align: center;
	display:inline-block;
    width: 40px;
}
.contact-sochil-icon  a:hover{
	background:#73AE20;
    border: 1px solid #73AE20;
    color:#fff;	
}
.contact-sochil-icon  a:hover i{
    color:#fff;	
}
.cf-msg {
    padding: 10px;
    text-align: center;
    margin-bottom: 30px;
}
.cf-msg p {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    color: #fff;
    text-transform: capitalize;
}
.contact-form form input {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #aba8a8;
  border-radius: 4px;
  margin-bottom: 30px;
  padding-left: 20px;
}
.contact-form form textarea {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #aba8a8;
  border-radius: 4px;
  height: 150px;
  padding-left: 20px;  
}
.cont-submit {
  background: #fff;
  border: 1px solid #73AE20;
  color: #73AE20;
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  margin-top: 40px;
  padding: 8px 30px;
  text-transform: capitalize;
  transition: all 0.4s ease 0s;
}
.cont-submit:hover{
	color:#fff;
	background:#73AE20;
}
#contact-map{
	height:400px;
}

.cont-submit-2.cont-submit{
  border: 1px solid #31AAE1;
  color: #31AAE1;	
}
.cont-submit-2.cont-submit:hover{
	background:#31AAE1;	
	color:#fff;
}

.cont-submit-3.cont-submit{
  border: 1px solid #F93D66;
  color: #F93D66;	
}
.cont-submit-3.cont-submit:hover{
	background:#F93D66;	
	color:#fff;
}

.cont-submit-4.cont-submit{
  border: 1px solid #07AAA5;
  color: #07AAA5;	
}
.cont-submit-4.cont-submit:hover{
	background:#07AAA5;	
	color:#fff;
}

.cont-submit-5.cont-submit{
  border: 1px solid #D6B161;
  color: #D6B161;	
}
.cont-submit-5.cont-submit:hover{
	background:#D6B161;	
	color:#fff;
}

.cont-submit-6.cont-submit{
  border: 1px solid #FF9800;
  color: #FF9800;	
}
.cont-submit-6.cont-submit:hover{
	background:#FF9800;	
	color:#fff;
}

/*-----------------
 16 Footer-top-area
--------------------- */
.footer-top-area{
	background:#111111;
}
.footer-title h2 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 20px;
}
.footer-icon a {
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 16px;
    background: #222;
    line-height: 40px;
    margin: 0 3px;
	transition:all .4s;
}
.footer-icon a:hover{
	background:#73AE20;
}

.footer-icon a:hover  i{
	color:#fff;
}
.footer-icon-2.footer-icon a:hover{
	background:#31AAE1;
}
.footer-icon-3.footer-icon a:hover{
	background:#F93D66;
}

.footer-icon-4.footer-icon a:hover{
	background:#07AAA5;
}

.footer-icon-5.footer-icon a:hover{
	background:#D6B161;
}

.footer-icon-6.footer-icon a:hover{
	background:#FF9800;
}


/*------------------------
  17.Footer-Area
--------------------------*/
.footer-area{
	background:#000;
}
.contact-sochil-icon.copyright-icon {
  margin: 0;
  text-align: right;
}
.contact-sochil-icon.copyright-icon a {
  margin: 0;
  margin-left: 5px;
  border-radius: 50%;
  font-size: 18px;
}
.copyright-left > span {
  margin-top: 11px;
  display: block;
  color:#fff;
}
/*------------------------
 18.breadcrumb-area
--------------------------*/
.breadcrumb-area {
  background: rgba(0, 0, 0, 0) url("img/blog/list/breadcrumb.jpg") no-repeat scroll center center / cover ;
  padding-bottom: 100px;
  padding-top: 150px;
  position: relative;
}

.breadcrumbs h2 {
    color: #ffffff;
    text-transform: uppercase;
}
.breadcrumbs.text-center > ul li {
    color: #ffffff;
    display: inline-block;
    text-transform: capitalize;
}
.breadcrumbs.text-center > ul li a {
    color: #ffffff;
    margin-right: 20px;
	position:relative;
}
.breadcrumbs.text-center > ul li a::before {
  background: #ffffff none repeat scroll 0 0;
  content: "";
  height: 15px;
  position: absolute;
  right: -13px;
  top: 2px;
  width: 2px;
  transform: rotate(33deg);  
}



/*------------------------
  19.Other-css
--------------------------*/
a#scrollUp {
  bottom: 30px;
  position: absolute;
  width: 40px;
  height: 40px;
  right: 30px;
  background: #333;
  color: #fff;
  text-align: center;
  font-size: 30px;
  border-radius: 4px;
}
a#scrollUp i {
  color: #fff;
}
a#scrollUp:hover{
	background:#444;
}

#particles-js {
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:1
}
div#preloader {
    background: #000 url("img/ball.gif") no-repeat scroll center center;
    height: 100%;
    left: 0;
    overflow: visible;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
}